.component-tables {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  overflow: scroll;
  background-color: color("bodyBackground");
  padding: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
