@font-face {
  font-family: "pingfang";
  src: url("./fonts/pingfang/pingfang.ttf");
}
* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #3b3b3b;
  font-family: "pingfang", Arial, Helvetica, sans-serif;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

/* hide ugly scrollbar */
::-webkit-scrollbar {
  display: none;
}

::-moz-scrollbar {
  display: none;
}

.component-app .component-login {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.component-app .component-login .header {
  height: 10vh;
  width: 100%;
  background-color: #141389;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.component-app .component-login form {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 4rem;
}
.component-app .component-login form .form-field {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-app .component-login form .form-field label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.component-app .component-login form .form-field label span {
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #211ef5;
}
.component-app .component-login form .form-field label input {
  height: 2rem;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  padding-left: 10px;
  color: #8c8c8c;
}
.component-app .component-login form button {
  height: 2.5rem;
  width: 7rem;
  margin-top: 10px;
  border-radius: 3px;
  font-size: 0.9rem;
  letter-spacing: 2px;
  background-color: #211ef5;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #211ef5;
  text-transform: uppercase;
}

.component-tables {
  width: 100vw;
  height: 90vh;
  margin-top: 10vh;
  overflow: scroll;
  background-color: #fff;
  padding: 1rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.component-tables .table-card {
  width: 5rem;
  height: 5rem;
  border-radius: 3px;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #d0d0d0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
}
.component-tables .table-card .table_id {
  flex: 2;
  font-size: 1.2rem;
}
.component-tables .table-card .table_size {
  flex: 1;
  font-size: 0.7rem;
  color: #8c8c8c;
}
.component-tables .table-card .order_id {
  flex: 1;
  font-size: 0.6rem;
  border-radius: 3px;
  border: 1px solid #a5a5a5;
  padding: 0.1rem 0.4rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.2rem;
  text-align: center;
}
.component-tables .table-card.active {
  background-color: #f55747;
  color: #fff;
}
.component-tables .table-card.active .order_id {
  background-color: #fff;
  color: #f55747;
}
.component-tables .table-card.active .table_size {
  color: #fff;
}
.component-tables .table-card.available {
  background-color: #ffba2d;
}

.component-tables .header {
  position: fixed;
  height: 10vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  box-shadow: 0 3px 3px #d0d0d0;
  background-color: #fff;
}
.component-tables .header .button {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  box-shadow: 0 0 3px #d0d0d0;
  border: 2px solid #211ef5;
  border-radius: 3px;
}
.component-tables .header .button.active {
  box-shadow: none;
  color: #fff;
  background-color: #211ef5;
  border: none;
  transition: all 400ms linear;
}

.component-shopping-cart .cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7c7c7a5;
}
.component-shopping-cart .cart .content {
  height: 90%;
  width: 90%;
  padding: 1rem;
  padding-bottom: 0;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #d0d0d0;
  overflow: scroll;
  position: relative;
}

.component-shopping-cart .cart .content .order-item {
  display: flex;
  height: 3rem;
  border-bottom: 1px solid #a5a5a5;
  justify-content: space-between;
  align-items: center;
}
.component-shopping-cart .cart .content .order-item .information {
  font-size: 1rem;
  flex: 1;
  color: #211ef5;
  padding-left: 1rem;
}
.component-shopping-cart .cart .content .order-item .information.cross {
  text-decoration: line-through;
  color: #8c8c8c;
}

.component-shopping-cart .cart .content .footer {
  height: 3.5rem;
  width: calc(100% + 2rem);
  position: sticky;
  bottom: 0;
  margin-left: -1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.65);
  box-shadow: 0 -3px 3px #d0d0d0;
}
.component-shopping-cart .cart .content .footer button {
  width: 5rem;
  height: 2rem;
  background-color: #211ef5;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 0 0 3px #211ef5;
  transition: all 400ms linear;
  outline: none;
}
.component-shopping-cart .cart .content .footer button:active {
  background-color: #fff;
  color: #8c8c8c;
  border-color: #211ef5;
  box-shadow: none;
}

.component-shopping-cart .cart .content .order-item .control-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 5rem;
  color: #211ef5;
}
.component-shopping-cart .cart .content .order-item .control-panel .button {
  display: flex;
  align-items: flex-end;
}
.component-shopping-cart .cart .content .order-item .control-panel .quantity {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.component-orders .header {
  height: 7vh;
  width: 100%;
  box-shadow: 0 3px 3px #d0d0d0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: #211ef5;
  padding: 0 1rem;
}
.component-orders .header .material-icons {
  color: #211ef5;
}
.component-orders .header .icon-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.5rem;
}
.component-orders .header .icon-wrapper .material-icons {
  font-size: 2rem;
}
.component-orders .header .icon-wrapper span {
  padding-top: 6px;
}

.component-orders {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  box-sizing: border-box;
  padding-top: 8vh;
}

.component-products {
  display: flex;
  height: 100%;
  width: 100vw;
}

.component-products .categories-list {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: scroll;
  background-color: #f1f1f1;
  font-size: 0.8rem;
  width: 5rem;
}
.component-products .categories-list a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  box-sizing: border-box;
}
.component-products .categories-list a.active {
  border-left: 2px solid #211ef5;
  background-color: #fff;
}
.component-products .categories-list a span {
  width: 100%;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.component-products .products-list {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  width: calc(100vw - 5rem);
}

.component-products .products-list {
  padding: 0 0.5rem;
}
.component-products .products-list .product-group h3 {
  color: #8c8c8c;
}
.component-products .products-list .product-group .product-card {
  display: flex;
  height: 5rem;
  width: 95%;
  justify-content: space-between;
  align-items: center;
}
.component-products .products-list .product-group .product-card .image-container {
  width: 40%;
  height: 100%;
  padding: 0.5rem;
}
.component-products .products-list .product-group .product-card .image-container img {
  height: 100%;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 2px #d0d0d0;
}
.component-products .products-list .product-group .product-card .information {
  flex: 1;
  height: 100%;
  padding: 0.6rem 0;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.component-products .products-list .product-group .product-card .information .name {
  flex: 1;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size: 0.8rem;
  color: #8c8c8c;
}
.component-products .products-list .product-group .product-card .information .price-control {
  flex: 1;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}
.component-products .products-list .product-group .product-card .information .price-control .price {
  font-size: 0.7rem;
  color: #211ef5;
}
.component-products .products-list .product-group .product-card .information .price-control .control-panel {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 5rem;
  color: #211ef5;
}
.component-products .products-list .product-group .product-card .information .price-control .control-panel.short {
  justify-content: flex-end;
}
.component-products .products-list .product-group .product-card .information .price-control .control-panel .button {
  display: flex;
  align-items: flex-end;
}
.component-products .products-list .product-group .product-card .information .price-control .control-panel .quantiy {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=App.css.map */
