.component-shopping-cart .cart {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: color("cover");
  .content {
    height: 90%;
    width: 90%;
    padding: 1rem;
    padding-bottom: 0;
    background-color: color("bodyBackground");
    border-radius: 5px;
    box-shadow: 0 0 5px color("boxShadow");
    position: relative;
    .body {
      height: calc(100% - 3.5rem);
      overflow: scroll;
      position: relative;
    }
  }
}
