.component-shopping-cart .cart .content .body {
  .ordered-list,
  .cart-list {
    .order-item {
      display: flex;
      height: 3rem;
      width: 90%;
      border-bottom: 1px solid color("border");
      justify-content: space-between;
      align-items: center;
      .information {
        font-size: 0.9rem;
        flex: 1;
        color: color("main");
        padding-left: 1rem;
        &.cross {
          text-decoration: line-through;
          color: color("textPrimary");
        }
      }
    }
  }
}
