.component-orders .header {
  height: 7vh;
  width: 100%;
  box-shadow: 0 3px 3px color("boxShadow");
  position: fixed;
  top: 0;
  left: 0;
  background-color: color("bodyBackground");
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  color: color("main");
  padding: 0 1rem;

  transition: all 300ms linear;
  &.hide {
    transform: translateY(-7vh);
    box-shadow: none;
  }
  .material-icons {
    color: color("main");
  }
  .icon-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 2.5rem;
    .material-icons {
      font-size: 2rem;
    }
    span {
      padding-top: 6px;
    }
  }
}
